*{
    margin: 0px;
    padding: 0px;

}
.container{

}
.header{
    padding: 0px;
    margin: 0px;
    height: 5rem;
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
    font-size: 2rem;
}
.header > button{
    background-color: black;
    color: aliceblue;
    font-size: 16px;
    height: 1.5rem;
    width: 5rem;
    border: none;
    border-radius: 3px;
}
.gamearea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;

   
    

}
.topthree{
    display: flex;
    flex-direction: row;

}
.bottomthree{
    display: flex;
    flex-direction: row;
    

}
.middlethree{
    display: flex;
    flex-direction: row;
}
.one{
    height: 5rem;
    width: 5rem;
    background-color: whitesmoke;
    border: 2px inset black;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    
}
 h1{
    font-size: 48px;
    padding-top: 10px;
}
